// *************************************
//
//   pages/index
//
//
// *************************************

.slider,
  @extend %span12
  height: 300px
  margin-top: 3em
  padding-top: 1em
  overflow: hidden
  position: relative
  background-image: url("../img/slider-bg.png")
  +image-2x("../img/slider-bg@2x.png", 147px, 147px)
  h2
    text-align: center
    font-size: $fz-xl
  p
    +container($w-mobile)
  span
    display: block
    margin: 0 auto

.akinfo
  @extend %span12
  // background-color: $cs-green
  // height: 500px
  background-color: #f8f8f5
  padding-bottom: 3em
  .guide-button
    text-align: center
    margin-top: -0.65em
  h3
    text-align: center
    font-size: $fz-xl
    margin: 2em 0
  .section
    margin-bottom: 2em
  h4
    padding: 0 0.5em
    +breakpoint($b-pad)
      padding: 0 10.5em
  p
    padding: 0.5em 1.5em
    +breakpoint($b-pad)
      padding: 0.5em 11.5em

.treatment
  @extend .akinfo
  background-color: #eeeee8
  h3
    margin: 3em 0 2em 0
